# Foundational dependencies.
python-dotenv==1.2.3
PyYAML==6.0.2
langchain==1.4.0
langchain-core==1.6.2
langchain-openai==1.6.2
langchain-google-genai==4.4.0
langchain-text-splitters==1.1.2

# UI dependencies.
streamlit==1.63.0

# ULID for easy search and sort. Generates unique identifiers based on time.
ulid-py==1.1.0

#Natual Language Date Parser
dateparser==1.1.8
